<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>
 	<div class="container">
 		<div class="row">
 			<div class="card">
			  <img data-th-src="@{/images/no_disponible.jpg}" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<div class="text-section">
			  		<h5 class="card-title">Card title</h5>
			    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  	</div>
			  	<div class="cta-section">
			  		<div>$170000000</div>
			  		<a href="#" class="btn btn-light">Ver Detalle</a>
			  	</div>	    
			  </div>
			</div>
 		</div>
	</div>
</body>
</html>